$primaryColor : #a8e0ff;
$secondaryColor : #2274A5;
$thirdColor : #d3efff;
$primaryFontColor : #000000;
$secondaryFontColor : #ffffff;
$principalFont: 'DM Sans', sans-serif;
$secondaryFont: SecularOne, sans-serif;
$fontSizePhone: 2.5em;
$fontSizeTitles: 3em;
$fontSizeSubTitles: 2em;
$fontSizeSubHeadLine: 1em;
$fontSizeText: 1em;

