@import "../../assets/styles/variables";

.site-header-main {
    background-color: $secondaryColor;
    .site-header-main-wrapper {
        grid-template-columns: 20% 80%;
        @media (max-width: 680px) {
            grid-template-columns: 100%;
        }
        .site-header-main-logo{
            display:grid;
            margin:0.5rem;
            @media (max-width: 580px) {
                margin-left: 30%;
            }
        }
        .site-header-main-item {
            font-size: 1.3rem;
            list-style: none;
            .links-text {
                color: $secondaryFontColor;
                text-decoration: none;
                margin: 2.5rem;
                @media (max-width: 680px) {
                    margin: 0.5rem;
                }
            }
        }
    }
}


.site-navigation-wrapper {
    .navbar {
        background-color: $primaryColor;
        width: 100%;
        height: 6vh;
        display: grid;
        .items {
            grid-template-columns: 1fr;
            display: grid;
            .hb-bar {
                display: none;
            }
            .links {
                font-size: 1.3rem;
                list-style: none;
                .nav-item {
                    text-align: center;
                    .links-text {
                        color: $primaryFontColor;
                        text-decoration: none;
                        margin: 2.5rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .grid-cols-2{
      grid-template-columns: 1fr;
    }
    .navbar .items .links .nav-item {
        display: grid;
        grid-template-columns: 1fr;
    }

}
        

  